EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_API_URL=http://localhost:3000/v1
EXPO_PUBLIC_WS_URL=ws://localhost:3000/ws

## Super Admin account (Optional for development)
SUPER_ADMIN_EMAIL=admin@genba.com
SUPER_ADMIN_PASSWORD=ResetPwd999!

# Note: Use http://10.0.2.2:3000/v1 for Android Emulator
